chromedriver.exe
codeFile/.idea/
codeFile/__pycache__/
codeFile/demo1007.py
haier2023Project/demo3.2.py
haier2023Project/strategyCode/__pycache__/
haier2023Project/jsonForCompare/
haier2023Project/brandIDs.json
haier2023Project/test31.json
haier2023Project/.idea/
haier2023Project/databankCode/test/paasCode/
haier2023Project/databankCode/__pycache__/
haier2023Project/perspectiveCode/testPy/shutongCode/__pycache__/
haier2023Project/strategyCode/tempRlt/nppBackup/
haier2023Project/strategyCode/paraCombine/nppBackup/
haier2023Project/strategyCode/tempRlt3月.zip
haier2023Project/Result/Data/middleData_1月/nppBackup/
haier2023Project/Result/Log/log_1月/nppBackup/
haier2023Project/Result/Data/tempRlt_3月/csv/
haier2023Project/Result/Log/log_2月/nppBackup/
haier2023Project/Result/Data/middleData_2月/nppBackup/
haier2023Project/perspectiveCode/jdsf.db
haier2023Project/perspectiveCode/__pycache__/
haier2023Project/perspectiveCode/haier_portrait.db
haier2023Project/Result/Data/middleData_4月/nppBackup/
PECHOINProject/clsPack/__pycache__/
PECHOINProject/pltTwo/cardFillTest0522.py
PECHOINProject/pltTwo/__pycache__/
PECHOINProject/.idea/
PECHOINProject/idPrepare/nppBackup/
PECHOINProject/pltTwo/Test/queryTest.py
haier2023Project/perspectiveCode/testPy/
haier2023Project/prefer_corrReportCode/importTest.py
haier2023Project/prefer_corrReportCode/__pycache__/
.idea/
haier2023Project/Result/Log/log_5月/nppBackup/
haier2023Project/databankCode/test/
haier2023Project/databankCode/supplement/
*.xlsx
*.zip
haier2023Project/Result/Log/log_6月/nppBackup/
phchoinRemake/clsPack/__pycache__/
phchoinRemake/pyScript/__pycache__/
phchoinRemake/data/nppBackup/
haier2023Project/Result/Header/__pycache__/
haier2023Project/Result/Data/middleData_7月/
